@media (max-width: 991.98px) {
  .bg-color-shape-1 {
    animation: none;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 350px;
  }

  .bg-color-shape-2 {
    animation: none;
    right: 0px;
    top: 400px;
    width: 350px;
    height: 350px;
  }
  .navbar-toggler-icon {
    color: #fff !important;
  }
  .navbar-toggler {
    background-color: #ece6e6;
  }
  .request-demo-btn {
    margin-bottom: 30px;
    font-size: 14px;
  }
}
